
    body {
        /* Set default text color */
        color: #161616;
    }

    a {
        /* Change the color of elements with this element */
        color: #161616;
    }

    .visually-hidden {
        /* Hide elements with this class */
        display: none;
    }

    .card-category {
        /* Change the color of elements with this class */
        color: #D73953
    }

    .section-tagline {
        /* Change the color of elements with this class */
        color: #D73953
    }

