$info-success-color: #00FF00;
$info-warning-color: #FF0000;

.info {
    font-size: 12px;
}

.success {
    @extend .info;
    color: $info-success-color;
}

.warning {
    @extend .info;
    color: $info-warning-color;
}
