$info-font-size: 12px;
$info-success-color: #00FF00;
$info-warning-color: #FF0000 ;

.info {
    font-size: $info-font-size;
}

.success {
    color: $info-success-color;
}

.warning {
    color: $info-warning-color;
}


